.setAvtarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #0a2e36;
  height: 100vh;
  width: 100vw;
}

.loader {
  max-inline-size: 100%;
}

.title h1 {
  color: white;
}
.avtars {
  display: flex;
  gap: 2rem;
}
.avtar {
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.avtar img {
  height: 6rem;
  transition: 0.5s ease-in-out;
}
.avtars .selected {
  border: 0.4rem solid #0077b6;
}
.submit-btn {
  background-color: #4e0eff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: #4e0eff;
}
