.textContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #a0eade;
  padding: 0 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
}

.button-container .emoji {
  position: relative;
}

.button-container .emoji svg {
  font-size: 1.5rem;
  color: #e6fafc;
  cursor: pointer;
}
.button-container .emoji svg:hover {
color: white;
}
.emoji .emoji-picker-react {
  position: absolute;
  top: -350px;
  background-color: #e6fafc;
  box-shadow: 0 5px 10px #e6fafc;
  border-color: #e6fafc;
}

.emoji .emoji-scroll-wrapper::-webkit-scrollbar {
  background-color: #e6fafc;
  width: 5px;
}
.emoji .emoji-scroll-wrapper-thumb {
  background-color: #e6fafc;
}

.emoji .emoji-categories button {
  filter: contrast(0);
}

.emoji .emoji-search {
  background-color: transparent;
  border-color: #e6fafc;
}
.emoji .emoji-group:before {
  background-color: #e6fafc;
}

.input-container {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #e6fafc;
}
.input-container input {
  width: 90%;
  /* height: 60%; */
  background-color: transparent;
  color: black;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}
.input-container input::selection {
  background-color: #e6fafc;
}
.input-container input:focus {
  outline: none;
}

.input-container button {
  padding: 0.3rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6fafc;
  border: none;
  transition: 0.4s ease-in-out;

}
.input-container button:hover{
  background-color: #a0eade;
}
.input-container svg {
    font-size: 2rem;
    color: white;
  }
