.container2 {
  display: grid;
  grid-template-rows: 10% 75% 15%;
  overflow: hidden;
  background-color: #a0eade;
}
.container2 .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.brand img {
  height: 2rem;
}
.brand h3 {
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8rem;
}

.contacts hr{
  width: 86%;
  text-align: center;
  opacity: .5;
}
.contacts .contact {
  background-color: #a0eade;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.contact .avatar img {
  height: 3rem;
}
.contacts .contact h3 {
  color: black;
}


.current-user {
  background-color: #48cae4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* text-align: left; */
}
.current-user .avatar img {
  height: 4rem;
  max-inline-size: 100%;
}
.current-user .username h2 {
  color: black;
}
